.page-banner {
  position: relative;
  top: (-1 * map-get($page-wrapper-padding, 'small-tb'));
  margin: 0 (-1 * map-get($page-wrapper-padding, 'small-rl'));
  height: 180px;
  overflow: hidden;
  @include respond-from(xs) {
    top: (-1 * map-get($page-wrapper-padding, 'main-tb'));
    margin: 0 (-1 * map-get($page-wrapper-padding, 'main-rl'));
  }
  @include respond-from(md) {
    height: 0;
    padding-bottom: 18.5%;
  }
  @include respond-from(xl) {
    padding-bottom: 16%;
  }
  &__title, &__subtitle {
    position: absolute;
    left: 0;
    padding: 0 5px;
    z-index: 2;
    @include respond-from(xs) {
      padding: 0 map-get($page-wrapper-padding, 'main-rl');
    }
    @include text-truncate;
    max-width: 80%;

    &--right {
      left: auto;
      right: 0;
    }
  }
  &__title {
    bottom: 53px;
    font-size: 36px;
    line-height: 52px;
    color: #fff;
  }
  &__subtitle {
    bottom: 19px;
    font-size: 18px;
    line-height: 34px;
    color: #fffefe;
    background: #414249;
  }
  &__img {
    position: absolute;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: initial;
    max-height: initial;
  }
}