.form-title-block {
  margin-bottom: 10px;
  position: relative;
  &:before {
    bottom: 9px;
    background: #b4b5b4;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.form-title {
  background: #fff;
  color: $base-color;
  display: inline;
  font-size: 18px;
  line-height: 30px;
  padding-right: 10px;
  position: relative;
  z-index: 2;
}

@each $label, $panel in $panels {
  .#{$label} .form-title {
    background: map-get($panel, 'bg');
  }
}