.ie {
  padding-top: 50px;

  &__inner-wrapper {
    color: #3e3f3e;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 76%;
  }

  &__title {
    font-size: 67px;
    font-weight: 600;
    margin-bottom: 220px;
    margin-top: 0;
  }

  &__browsers-list {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    margin-top: 0;
    padding-left: 0;
  }

  &__browsers-item {
    list-style-type: none;
    margin-right: 15%;
  }

  &__browsers-item:last-child {
    margin-right: 0;
  }

  &__browsers-image-wrapper {
    height: 152px;
    width: 152px;
  }

  &__browsers-image-wrapper img {
    height: 152px;
    width: 152px;
  }

  &__browser-name {
    color: #009fe3;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    position: relative;
    vertical-align: middle;
  }

  &__browser-name::before {
    background-color: #009fe3;
    bottom: 7px;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }

  &__text {
    font-size: 35px;
    line-height: 46px;
  }
}


