.table {
  &__row {
    display: table;
    width: 100%;
  }
  &__head {
    background-color: map-get($colored-table, 'header-background');
    font-weight: 700;
    i { margin-left: 5px; }
  }
  &__col {
    padding: 10px 4px 10px 5px;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 20px;
    display: table-cell;
    @include respond-from(sm) {
      padding: 10px 4px 10px 10px;
    }
  }
  &__head &__col.selected {
    background: map-get($colored-table, 'selected-background');
  }
  &__body &__col.selected {
    background: #b4b4b4;
    color: #ffffff;
  }
  &.clickable &__row { cursor: pointer; }
}

.table-striped {
  background-color: map-get($colored-table, 'background');
  .table__body {
    .table__row:nth-of-type(odd) {
      background-color: map-get($colored-table, 'row-odd-background');
    }
    .table__row-holder:nth-of-type(even) .table__row {
      background-color: map-get($colored-table, 'background');
    }
  }
}
.table-striped.table-hover {
  background-color: map-get($colored-table, 'background');
  &.table__col {
    .table__row {
      &:hover td[data-table-hover] {
        background-color: map-get($colored-table, 'row-background-hover');
      }
      &.hovered td[data-table-hover] {
        background-color: map-get($colored-table, 'row-background-hover');
      }
    }
  }
}
.table__col[ng-click] { cursor: pointer; }

.is-not-touch-device .table-hover > .table__body > .table__row[ng-click]:hover > .table__col,
.is-not-touch-device .table-hover > .table__body > .table__row:hover > .table__col[ng-click],
.is-not-touch-device .table-hover > .table__body > .table__row[ng-click]:hover,
.is-not-touch-device .table-hover > .table__body > .table__row.hovered {
  background-color: map-get($colored-table, 'row-background-hover');
}

.table-bordered {
  border-collapse: separate;
  border: 1px solid #B4B5B4;
  .table__col,
  .table__col {
    border: none;
    @include respond-from(xs) {
      border-left: 1px solid #B4B5B4;
      &:first-child { border: none; }
    }
  }
}
.table-schedule {
  .table__col,
  .table__col {
    border-left: 1px solid #B4B5B4;
    &:first-child { border: none; }
  }
}
@include respond-to(xs) {
  .table-bordered {
    border-left: 0;
    border-right: 0;
  }
}

@include respond-to(xs) {
  .rwd-table {
    display: block;
    min-width: 300px;
    .table__head { display: none; }
    & > .table__body { display: block; }
    & > .table__body .table__row {
      display: block;
      padding: 6px 0;
      position: relative;
      & > .table__col {
        display: block;
        line-height: 20px;
        overflow: hidden;
        padding: 0 10px;
        position: static;
        &.cell-truncate {
          @include text-truncate;
        }
        & > span {
          display: block;
          overflow: hidden;
        }
        &[data-th]:before {
          content: attr(data-th)": ";
          display: block;
          float: left;
          font-weight: bold;
          padding-right: 10px;
          width: 100px;
          @include respond-from(xs) {
            display: none;
          }
        }
      }
    }

    .table__col {
      text-align: left;
      @include respond-from(xs) {
        display: table-cell;
        padding: .25em .5em;
      }
    }
  }
  .rwd-table .table__col.hidden-xs-cell,
  .hidden-xs-cell { display: none; }
}

.sort-asc:after {
  content: '\25BC';
  padding-left: 5px;
}

.sort-desc:after {
  content: '\25B2';
  padding-left: 5px;
}
@include respond-from(xs) {
  .table-sorted {
    .table__head .table__col {
      cursor: pointer;
      &.sorted {
        background: map-get($colored-table, 'selected-background');
        position: relative;
        &.asc,
        &.desc { padding-right: 22px; }
        &.asc:after,
        &.desc:after {
          border-style: solid;
          content: '';
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
        &.asc:after {
          border-color: #303030 transparent transparent;
          border-width: 5px 5px 0;
        }
        &.desc:after {
          border-color: transparent transparent #303030;
          border-width: 0 5px 5px;
        }
      }
    }
    .table__body .table__col.sorted {
      background: map-get($colored-table, 'sorted-background');
    }
    &.table-striped {
      .table__body {
        .table__row:nth-of-type(odd) .table__col.sorted {
          background-color: map-get($colored-table, 'sorted-background-odd');
        }
        .table__row-holder:nth-of-type(even) .table__row .table__col.sorted {
          background-color: map-get($colored-table, 'background');
        }
      }
    }
    &.table-striped.table-hover {
      .table__body {
        .table__row.hovered .table__col.sorted,
        .table__row:hover .table__col.sorted {
          background-color: map-get($colored-table, 'row-background-hover');
        }
      }
    }
  }
}

.table-icon { color: #9493a1; }


.table-transferOfCare {
  border-left: 0px !important;
  border-right: 0px !important;
  @include respond-from(xs) {
    border-top: 0px !important;
  }
  @include respond-to(xs) {
    .table__row { position: relative; }
    .table__body .table__col {
      padding-right: 48px !important;
    }
  }
  @include respond-from(xs) {
    .table__col.table__col-type {width: 21%;}
    .table__col.table__col-date {width: 21%;}
    .table__col.table__col-source {width: 18%;}
    .table__col.table__col-control {width: 54px;}
  }
}