.loading-bar {
  background: #29d;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
  box-shadow: #29d 1px 0 6px 1px;
  height: 2px;
  position: fixed;
  top: 0;
  transition: width 350ms;
  z-index: 100;
}