$header-height: 52px;
.header .navbar {
  border-radius: 0;
  border: 0;
  margin: 0;
  background: $header-bg;
  position: relative;
  z-index: 1001;
  @include respond-from(sm) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.navbar-space-right {
  display: none;
  @include respond-from(sm) {
    display: block;
    float: none;
    order: 5;
    padding-right: 12px;
  }
}

@import 'logo';
@import 'user-panel';
@import 'header-buttons';
@import 'toolbar';
@import 'title';
@import 'notification';
@import 'user';
@import 'header-list';
