.dashboard {
  font-size: 0;
  line-height: 0;
  margin-left: (-1) * $gutter-small;
  margin-right: (-1) * $gutter-small;
  min-height: 300px;
  padding-top: 8px;
  @include respond-from(xs) {
    margin-left: (-1) * $gutter-big;
    margin-right: (-1) * $gutter-big;
  }
}
.dashboard-item {
  display: inline-block;
  margin-bottom: 14px;
  padding-left: $gutter-small;
  padding-right: $gutter-small;
  vertical-align: top;
  width: 100%;
  @include respond-from(xs) {
    padding-left: $gutter-big;
    padding-right: $gutter-big;
  }
}
@include respond-from(md) {
  .dashboard-item { width: 25%; }
  .showSidebar .dashboard-item { width: 33.333% }
}
@include respond-from(lg) {
  .showSidebar .dashboard-item {
    width: 25%
  }
}

.board {
  border: 1px solid map-get($board, 'border');
  color: map-get($board, 'item-color');
  border-radius: map-get($board, 'radius');
  width: 100%;
  overflow: hidden;
  @include respond-to(xs) {
    border-left: 0;
    border-right: 0;
  }
}
.board-header {
  background-color: map-get($board, 'header-bg');
  color: map-get($board, 'header-color');
  padding: 5px;
  @include clearfix;
}
.board-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  margin: 0;
  padding: 0 5px;
  color: map-get($board, 'header-color');
  @include text-truncate;
}
.board-body {
  background: map-get($board, 'item-bg');
}
.board-preview {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: map-get($board, 'preview-ratio');
  background-size: cover;
  background-position: center;
}
.board-list {
  @include list-reset;
}
.board-list-item {
  background: map-get($board, 'item-odd-bg');
  min-height: 40px;
  &:nth-of-type(even) {
    background: map-get($board, 'item-bg');
  }
}
.board-list-link {
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  color: map-get($board, 'item-color');
  @include text-truncate;
}
.is-not-touch-device .board-list-link:hover {
  background: map-get($board, 'item-bg-hover');
  color: map-get($board, 'item-color-hover');
}

.btn-board-more { width: 43px; }