{
  "presets": [
    "es2017",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "sourceRoot": "./src"
}
