{
  "presets": [
    "es2017",
    "react",
    "react-es2015",
    "es2015",
    "es2015-ie"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    ["lodash", { "id": ["lodash", "recompose"] }]
  ],
  "sourceRoot": "./src"
}
