{
  "extends": [
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "lodash-fp"
  ],
  "rules": {
    "semi": "off",
    "spaced-comment": "off",
    "comma-dangle": [
      1,
      "always-multiline"
    ],
    "linebreak-style": 0,
    "arrow-body-style": "off",
    "max-len": "off",
    "arrow-spacing": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-space-before-closing": "off",
    "react/jsx-wrap-multilines": "off",
    "react/self-closing-comp": "off",
    "no-underscore-dangle": "off",
    "no-console": "off",
    "quote-props": "off",
    "lodash-fp/consistent-compose": "off",
    "lodash-fp/consistent-name": [
      "error",
      "_"
    ],
    "lodash-fp/no-argumentless-calls": "error",
    "lodash-fp/no-chain": "error",
    "lodash-fp/no-extraneous-args": "error",
    "lodash-fp/no-extraneous-function-wrapping": "error",
    "lodash-fp/no-extraneous-iteratee-args": "error",
    "lodash-fp/no-for-each": "off",
    "lodash-fp/no-partial-of-curried": "error",
    "lodash-fp/no-single-composition": "error",
    "lodash-fp/no-submodule-destructuring": "error",
    "lodash-fp/no-unused-result": "error",
    "lodash-fp/prefer-compact": "error",
    "lodash-fp/prefer-composition-grouping": "error",
    "lodash-fp/prefer-constant": [
      "error",
      {
        "arrowFunctions": false
      }
    ],
    "lodash-fp/prefer-flat-map": "error",
    "lodash-fp/prefer-get": "error",
    "lodash-fp/prefer-identity": [
      "error",
      {
        "arrowFunctions": false
      }
    ],
    "lodash-fp/preferred-alias": "off",
    "lodash-fp/use-fp": "error"
  }
}
