{
  "plugins": [
    "stylelint-scss"
  ],
  "defaultSeverity": "warning",
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "scss/dollar-variable-pattern": "^foo",
    "scss/selector-no-redundant-nesting-selector": true
  }
}