.dashboard {
  padding-top: 0;
}
.dashboard-item {
  margin-bottom: 22px;
}
.board {
  box-shadow: 0 1px 1px rgba(#000, 0.21);
}
.board-header {
  padding: 5px 8px;
  border-bottom: 2px solid #00aeef;
  @include clearfix;
}
.board-title {
  font-size: 16px;
  line-height: 26px;
  @include text-truncate;
}

.board-list-item {
  border-top: 1px solid #ccc;
}
.board-list-link {
  line-height: 19px;
  @include text-truncate;
}

.btn-board-more {
  height: 26px;
  line-height: 26px;
  border: none !important;
  padding: 0;
  width: 26px;
  min-width: 10px;
  i {color: #fff!important;}
}