.dropdown-user {
  width: 300px;
  border-radius: 0 0 4px 4px;

  .user-profile-info {
    font-size: 12px;
    line-height: 14px;
  }
  .specification {
    border-bottom: none;
  }
  .user-profile-info__item {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 15px;
    color: #717171;
    &.name {
      margin-bottom: 7px;
      color: $text-color;
      font-weight: 400;
      font-size: 16px;
    }
    &.role,
    &.address { font-style: normal; }
    &.time {
      font-style: normal;
    }
  }
  .user-profile-info__title {
    display: block;
    margin-bottom: 7px;
    color: $text-color;
    font-weight: 400;
    font-size: 16px;
  }

  .btn-signout {
    width: auto;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    i {
      font-size: 14px;
      margin-left: 8px;
    }
  }
  .user-profile-settings {
    .dropdown-menu-item {
      &.active { background: $base-color !important; }
      &:hover { background: $base-color !important; }
    }
  }
}