.panel-body {
  padding: 7px 10px 3px 10px;
  position: relative;
}

@each $label, $panel in $panels {
  .#{$label} {
    .panel-body {
      background-color: map-get($panel, 'bg');
      border-radius: 0 0 map-get($panel, 'border-radius') map-get($panel, 'border-radius');
    }
    .panel-body-inner + .panel-body-inner {
      border-top: map-get($panel, 'border-width') solid map-get($panel, 'border-color');
    }
    .panel-body-section + .panel-body-section {
      border-top: map-get($panel, 'border-width') solid map-get($panel, 'border-color');
    }
  }
}

.panel-primary .panel-body {
  padding: 0;
}
.panel-secondary .panel-body {
  padding: 0;
}
.panel-body-inner {
  padding: 14px 10px;
  .panel-body-section + .panel-body-section {
    margin-top: 4px;
    padding-top: 24px;
  }
  .panel-subaccordion {
    margin: 0 -10px;
    .panel-body-inner { padding-left: 25px; }
  }
  .panel-body-inner-table {
    margin: 0 -10px;
  }
}