.panel-title {
  color: $text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  margin: 0;
  padding: 0 5px;
  @include text-truncate;
}
.panel-title i.fa-bar-chart { font-size: 20px; }

@each $label, $panel in $panels {
  .#{$label} {
    & > .panel-heading {
      background-color: map-get($panel, 'heading-bg');
      color: map-get($panel, 'heading-color');
      border-radius: map-get($panel, 'border-radius') map-get($panel, 'border-radius') 0 0;
      @include clearfix;
    }
    & .panel-title { color: map-get($panel, 'heading-color'); }
  }
}
.panel-default {
  & > .panel-heading {
    border-bottom: 0;
    padding: 2px 8px 4px 8px;
  }
}

.panel-primary {
  .panel-heading {
    border: map-get(map-get($panels, 'panel-primary'), 'border-width') solid map-get(map-get($panels, 'panel-primary'), 'border-color');
    margin-bottom: 5px;
    padding: 5px;
  }
}

.panel-secondary .panel-heading { padding: 5px; }

.panel-small {
  .panel-heading {  padding: 3px; }
  .panel-title {
    font-size: 12px;
    line-height: 24px;
  }
}

.panel-subaccordion {
  &.open .panel-heading:after {
    transform: translateY(-50%) rotate(0deg);
  }
  .panel-heading {
    cursor: pointer;
    padding: 5px 25px 5px 6px;
    position: relative;
    &:after {
      content: '\f078';
      font-family: 'FontAwesome';
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
    }
  }
  .panel-title {
    font-size: 13px;
    line-height: 24px;
  }
}