.panel {
  border-radius: 0;
  border-style: solid;
  @each $label, $panel in $panels {
    &.#{$label} {
      background:    map-get($panel, 'bg');
      border-color:  map-get($panel, 'border-color');
      border-width:  map-get($panel, 'border-width');
      border-radius: map-get($panel, 'border-radius');
      box-shadow: none;
    }
  }
  &.panel-primary { margin-bottom: 14px; }
  &.panel-secondary { margin-bottom: 14px; }
  &.panel-subaccordion {}
  &.panel-small { margin-bottom: 0; }
  &.without-margin { margin-bottom: 0; }
}
.panel-table .table {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
}

.panel-expand-wrapper { position: relative; }
.panel-expand-row { @include clearfix; }
@each $label, $panel in $panels {
  .#{$label} {
    .panel-expand-row + .panel-expand-row{
      border: map-get($panel, 'border-width') solid map-get($panel, 'border-color');
    }
    .panel-expand-item + .panel-expand-item {
      border-top: map-get($panel, 'border-width') solid map-get($panel, 'border-color');
    }
  }
}

@include respond-from(md) {
  .full-panel {
    .panel-expand-wrapper {
      &:after {
        background: #D8D8D8;
        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        width: 1px;
      }
      &.without-separate:after { display: none; }
    }
    @each $label, $panel in $panels {
      &.#{$label} {
        .panel-expand-wrapper:after {background: map-get($panel, 'border-color');}
      }
    }
    @each $label, $panel in $panels {
      &.#{$label} {
        .panel-expand-row + .panel-expand-row{
          border-top: map-get($panel, 'border-width') solid map-get($panel, 'border-color');
        }
        .panel-expand-item + .panel-expand-item { border-top: none; }
      }
    }
    .panel-expand-item {
      float: left;
      width: 50%;
    }
  }
}

.mainPagePanel {
  min-height: 500px;
  background: #fff !important;
}

@import 'group';
@import 'heading';
@import 'body';
@import 'control';
@import 'filter';
