$control-indent: 6px;

.wrap-control-group {
  @include clearfix;
  &.hide-indent-bottom { margin-bottom: -$control-indent; }
}
.control-group {
  margin-right: -$control-indent;
  & > * { margin-right: $control-indent; }
  &.right {
    margin-left: $control-indent;
  }
  &.left {
    margin-left: -$control-indent;
    margin-right: $control-indent;
    & > * {
      margin-left: $control-indent;
      margin-right: 0;
    }
  }
  &.with-indent > * { margin-bottom: $control-indent; }
  &.without-side-indent {
    margin-left: 0;
    margin-right: 0;
    & > * {
      margin-left: 0;
      margin-right: 0;
    }
  }
}