$gray: #645a54;

$base-color: $gray;
$text-color: #53555a;

$auxiliary-color: lighten($base-color, 20%);



$table-color: lighten($base-color, 40%);;
$table-text: #333;
$colored-table: (
  bg: #F3F3F3,
  color: $table-text,

  header-bg: lighten(saturate(adjust-hue($table-color, -10.5516), 9.6510), 6.2745),
  header-color: $table-text,
  header-highlighted-bg: $table-color,
  header-highlighted-color: $table-text,

  row-bg: #F3F3F3,
  row-odd-bg: #FDFDFD,
  row-hover-bg: lighten(desaturate(adjust-hue($table-color, -9.8551), 7.9490), 20.9804),
  row-odd-hover-bg: lighten(desaturate(adjust-hue($table-color, -9.8551), 7.9490), 20.9804),
  row-color: $table-text,
  row-odd-color: $table-text,
  row-hover-color: $table-text,
  row-odd-hover-color: $table-text,

  row-sorted-bg: lighten(desaturate(adjust-hue($table-color, -9.8551), 7.9490), 20.9804),
  row-sorted-odd-bg: lighten(saturate(adjust-hue($table-color, -9.8551), 8.9921), 24.1176),
  row-sorted-hover-bg: lighten(desaturate(adjust-hue($table-color, -9.8551), 7.9490), 20.9804),
  row-sorted-odd-hover-bg: lighten(desaturate(adjust-hue($table-color, -9.8551), 7.9490), 20.9804),
  row-sorted-color: $table-text,
  row-sorted-odd-color: $table-text,
  row-sorted-hover-color: $table-text,
  row-sorted-odd-hover-color: $table-text,

  row-highlighted-bg: #b4b4b4,
  row-highlighted-color: #ffffff,
);

$text-color: #303030;
$text-on-base-color: #ffffff;

$colored-buttons: (
  default: #ffffff,
  primary: #337AB7,
  success: #46484e,
  info: #31b0d5,
  warning: #F0AD4E,
  danger: #DA534F
);

/**
  * COLORS for base configuration
  */
  $body-bg: #fff;

/**
  * COLORS for header
  */

  $header-bg: #534741;
  $header-btn: (
    bg: $header-bg,
    color: $text-on-base-color,
    bg-hover: $gray,
    color-hover: $text-on-base-color,
    bg-active: $gray,
    color-active: $text-on-base-color
  );
  $header-toolbar: (
    bg: $gray,
    color: $text-on-base-color,
  );

/**
  * COLORS for search
  */
  $search-btn: (
    bg: #000000,
    color: #ffffff,
    bg-hover: #000000,
    color-hover: #ffffff
  );
  $search-btn-toggle: (
    bg: #000000,
    color: #ffffff,
    bg-hover: #000000,
    color-hover: #ffffff,
    border: #000000,
    border-hover: #000000
  );

/**
  * COLORS for footer
  */
  $footer: (
    bg: #eee,
    color: #757584
  );

/**
  * COLORS for dashboard
  */
  $board: (
    border: #B4B5B4,
    radius: 0,
    header-bg: lighten(saturate(adjust-hue($table-color, -10.5516), 9.6510), 6.2745),
    header-color: #333,
    preview-ratio: 50%,
    item-bg: #F3F3F3,
    item-odd-bg: #FDFDFD,
    item-color: #333,
    item-bg-hover: lighten(desaturate(adjust-hue($table-color, -9.8551), 7.9490), 20.9804),
    item-color-hover: #333,
  );

body.themeGray {
  @import 'theme-source/index';
}