$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '~font-awesome/fonts';
$font-family-main: Arial, Helvetica, sans-serif;

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~font-awesome/scss/font-awesome';

//common styles
@import 'config';
@import 'abstracts/variables';
@import 'abstracts/colors';
@import 'abstracts/mixins';
@import 'abstracts/settings';
@import 'base';
@import 'grid';

//blocks
@import 'blocks/patients-list';

//components
//pages

//containers
@import '../components/containers/App/App';
@import '../components/containers/Main/Main';
@import '../components/containers/Breadcumbs/Breadcrumbs';
@import '../components/containers/TopHeader/TopHeader';
@import '../components/containers/HeaderToolbar/HeaderToolbar';
@import '../components/containers/Footer/Footer';
@import '../components/containers/PatientsChart/PatientsChart';
@import '../components/containers/MainLogo/MainLogo';
@import '../components/containers/PTButton/PTButton';
@import '../components/containers/NavSearch/NavSearch';
@import '../components/containers/UserAccountPanel/UserAccountPanel';
@import '../components/containers/UserPanelItem/UserPanelItem';
@import '../components/containers/SortableTable/SortableTable';

//presentational
@import '../components/presentational/PTPanel/PTPanel';
@import '../components/presentational/PaginationBlock/PaginationBlock';

//global

@import './global/control';
@import './global/dropdown';
@import './global/notification';
