label.control-label { color: map-get($forms, 'label-control-color'); }
.col-inline-label,
.required-label { color: map-get($forms, 'label-color'); }
.required-label { color: map-get($forms, 'label-required-color'); }

.form-control {
  background: map-get($forms, 'bg');
  color: map-get($forms, 'color');
  border-color: map-get($forms, 'border-color');
  border-width: map-get($forms, 'border-width');
  border-radius: map-get($forms, 'border-radius');
}
.has-error .form-control { border-color: map-get($forms, 'border-error-color') };
.has-success .form-control:focus { border-color: map-get($forms, 'border-success-color') };

.form-control.readonly,
.form-control[readonly] {
  background-color: map-get($forms, 'readonly-bg') !important;
  color: map-get($forms, 'readonly-color') !important;
}

.form-control.disabled,
.form-control[disabled] {
  background-color: map-get($forms, 'disabled-bg') !important;
  color: map-get($forms, 'disabled-color') !important;
  opacity: 1;
}

.form-control-static  {
  color: map-get($forms, 'control-static-color');
  a { color: map-get($forms, 'control-static-color'); }
}

.inner-addon .addon { color: map-get($forms, 'addon-color'); }
