@each $label, $panel in $panels {
  .#{$label} {
    .panel-body {
      background-color: map-get($panel, 'bg');
      border-radius: 0 0 map-get($panel, 'border-radius') map-get($panel, 'border-radius');
    }
    .panel-body-inner + .panel-body-inner {
      border-top: map-get($panel, 'border-width') solid map-get($panel, 'border-color');
    }
    .panel-body-section + .panel-body-section {
      border-top: map-get($panel, 'border-width') solid map-get($panel, 'border-color');
    }
  }
}