.panel-title { color: $text-color; }

@each $label, $panel in $panels {
  .#{$label} {
    & > .panel-heading {
      background-color: map-get($panel, 'heading-bg');
      color: map-get($panel, 'heading-color');
      border-radius: map-get($panel, 'border-radius') map-get($panel, 'border-radius') 0 0;
      @include clearfix;
    }
    & .panel-title { color: map-get($panel, 'heading-color'); }
  }
}

.panel-primary {
  .panel-heading {
    border: map-get(map-get($panels, 'panel-primary'), 'border-width') solid map-get(map-get($panels, 'panel-primary'), 'border-color');
  }
}
