.panel {
  @each $label, $panel in $panels {
    &.#{$label} {
      background:    map-get($panel, 'bg');
      border-color:  map-get($panel, 'border-color');
      border-width:  map-get($panel, 'border-width');
      border-radius: map-get($panel, 'border-radius');
    }
  }
}
@each $label, $panel in $panels {
  .#{$label} {
    .panel-expand-row + .panel-expand-row{
      border: map-get($panel, 'border-width') solid map-get($panel, 'border-color');
    }
    .panel-expand-item + .panel-expand-item {
      border-top: map-get($panel, 'border-width') solid map-get($panel, 'border-color');
    }
  }
}

@include respond-from(md) {
  .full-panel {
    @each $label, $panel in $panels {
      &.#{$label} {
        .panel-expand-wrapper:after {background: map-get($panel, 'border-color');}
      }
    }
    @each $label, $panel in $panels {
      &.#{$label} {
        .panel-expand-row + .panel-expand-row{
          border-top: map-get($panel, 'border-width') solid map-get($panel, 'border-color');
        }
        .panel-expand-item + .panel-expand-item { border-top: none; }
      }
    }
  }
}

@import 'group';
@import 'heading';
@import 'body';
@import 'control';
