.btn-header {
  // background: map-get($header-btn, 'bg');
  // color: map-get($header-btn, 'color');
  background: #fff;
  color: #1993EF;
  .count {
    background-color: map-get($header-btn, 'color');
    color:  map-get($header-btn, 'bg');
  }
}  
.btn-header:hover { color: map-get($header-btn, 'color'); }
.is-not-touch-device .btn-header:hover { 
  // background: map-get($header-btn, 'bg-hover'); 
  // color: map-get($header-btn, 'color-hover');
  background: #1993EF; 
  color: #fff;
}
